.btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
}

.btn-primary {
  transition: background ease-in-out 0.8s;
  background: $primary;
  color: $white;
  font-variant: all-small-caps;
  &:hover {
    transition: background ease-in-out 0.8s;
    background: $secondary;
  }
}
