
* {
  margin: 0;
  padding: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
html, body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

a {
  color: $gray-700;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}
.container,
.container-fluid /*,
[class*='col-'] */{
  padding: 0;
}

.row {
  //margin : 0 !important;
}

.visible {
  visibility: visible !important;
}

.block-container {
  padding: $padding;
  h2 {
    @include font-size(2.5rem);
  }
  p {
    margin: 15px 0;
  }
}

.bg-image {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;}
.video-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.reverse-responsive {
  @media screen and (max-width: 991px ) {
    flex-direction: column-reverse !important;
  }
}

.text-center {
  text-align: center;
}

#navigation-site {
  @media print {
    display: none;
  }
}
#header-site {
  background-color: $bg-gray;
  min-height: calc( var(--height) - #{$navbar-height} );
  background-image: url( '../images/header.jpg' );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: $navbar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .block-title {
    text-align: center;
    color: $white !important;
    h1 {
      @include font-size(3rem);
    }
    h2 {
      @include font-size(2.5rem);
      font-weight: 200;
      font-variant: all-small-caps;
    }
  }
}

#cta {
  background: url("../images/header-1.jpg");
  background-size: cover;
  background-attachment: scroll;
  min-height: 30vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    text-align: center;
  }
  h2 {
    @include font-size(1.5rem);
    font-weight:200;
    padding-bottom: 20px;
  }
}

#categories-populaires {
  text-align: center;
  .categorie {
    transition: border ease-in-out 0.8s;
    border: 1px dotted $white;
    padding: $padding;
    text-align: center;
  }
  .categorie-hover {
    transition: border ease-in-out 0.8s;
    border: 1px dotted $gray-900;
    h4 {
      color: $primary;
    }
    cursor: pointer;
  }
  .block-title {
    padding-bottom: $padding;
  }
  h3 {
    font-variant: all-small-caps;
    font-weight: 200;
    @include font-size(2rem);
  }
  h4 {
    @include font-size(1.8rem);
    font-variant: all-small-caps;
  }
}

#footer-site {
  min-height: calc( 100vh - #{$navbar-height});
  padding: $padding;
  text-align: center;
  background-color: $black;
  color: $white;
}

#casques {
    .element {
      border: 1px dotted $white;
      p {
        margin: 0;
        padding: 0;
      }
      text-align: center;
      padding: $padding;
      &:hover {
        border: 1px dotted $gray-200;
        cursor: pointer;
      }
    }
    .infos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        display: inline-block;
      }
      .prix {
        font-weight: 600;
        @include font-size(2rem);
        margin-right: $padding;
      }
      .puce {
        padding: 5px 15px;
        border-radius : 10px;
      }
    }

    .en-stock {
      .puce {
        background: $success;
      }
    }
    .epuise {
      .puce {
        background: $warning;
        color: $white;
      }
    }
    .card-classement {
      position: relative;
      width: 100%;
      height: 18px;
      margin-top: 5px;
    }
    .classement {
      width: 85px;
      height: 18px;
      position: absolute;
      bottom: 0;
      object-fit: none;
      left: calc( 50% - (85px / 2) );
      text-align: center;
    }

}

