// Typos
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$navbar-height: 80px;
$padding: 40px;

$black: #000000;
$dark: #141414;
$white: #FFF;
$primary: #52f2fa;
$secondary: #55f2a4;
$success: #8de1c2;
$warning: #fd8888;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$bg-gray: $gray-200;