{% extends 'layout.twig' %}

{% block pagetitle %}
    <title>Nolark - Page introuvable</title>
{% endblock %}

{% block headertitle %}
    <h1>404</h1>
    <h2>Cette page n'existe pas</h2>
{% endblock %}