@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ih8ow3');
  src:  url('fonts/icomoon.eot?ih8ow3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ih8ow3') format('truetype'),
    url('fonts/icomoon.woff?ih8ow3') format('woff'),
    url('fonts/icomoon.svg?ih8ow3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars-solid:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-front:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e903";
  color: #fff;
}
